html,
body,
pre {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  padding: 1em;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > * {
  margin-right: 1em;
}

content {
  position: absolute;
  width: 100%;
  top: 7em;
}

.chore,
.shoppingItem {
  display: flex;
  width: 100%;
  align-items: center;
}
.shoppingItem {
  border-bottom: 1px solid #ccc;
}
.chore details,
.shoppingItem details {
  width: 100%;
  margin-left: 1em;
}
.checkbox {
  margin: 1em;
}
.task {
  margin: 0.5em 0;
  font-size: larger;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  font-size: small;
}
.description,
.notes {
  margin: 0.25em 1.3em;
}
.chore.due {
  background-color: #fdcdac;
}
.chore.complete {
  background-color: #b3e2cd;
}
.chore.complete .task {
  text-decoration: line-through;
}
.divider {
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ccc;
}
.divider.due {
  border-bottom: 1px solid #d95f02;
}
.divider.complete {
  border-bottom: 1px solid #1b9e77;
}
